
<nav xmlns:th="https://www.thymeleaf.org">
    <!-- nav.html -->

    <div class="sidebar d-flex flex-column p-3" style="height: 100vh;  position: fixed;">
        <h4 class="text-white">Refugee System</h4>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/dashboard" class="nav-link text-white">Dashboard</a>
            </li>
            <li class="nav-item">
                <a href="/refugees/register" class="nav-link text-white">Register</a>
            </li>
            <li class="nav-item">
                <a href="/refugees/all" class="nav-link text-white">View</a>
            </li>
            <li class="nav-item">
                <a href="/register" class="nav-link text-white">User Register</a>
            </li>
            <li class="nav-item">
                <a href="/all" class="nav-link text-white">User View</a>
            </li>
            <form th:action="@{/logout}" method="post">
                <input type="submit" class="btn btn-info" value="Logout" />
            </form>
        </ul>
        <hr>
        <div class="footer text-black">
            &copy; EngSalim, 2024
        </div>
    </div>
</nav>

<!-- Add Bootstrap Icons CDN in your <head> section -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
