<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: head"></div>
</head>
<body>

<div th:replace="fragments/nav :: nav"></div>
<div class="main-content" style="margin-left: 260px; padding: 20px;">
    <div class="container text-center">
        <div class="container my-5 p-5" style="border: 1px solid black">
            <h1>Register Refugee</h1>
            <form class="col-md-4 offset-md-4" th:action="@{/refugees/save}" th:object="${refugee}" method="post">

                <div class="mb-3">
                    <label class="form-label">Full Name</label>
                    <input type="text" class="form-control" th:field="*{fullname}">
                    <div th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}" class="text-danger"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Family Size</label>
                    <input type="number" class="form-control" th:field="*{familysize}">
                    <div th:if="${#fields.hasErrors('familysize')}" th:errors="*{familysize}" class="text-danger"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Contact</label>
                    <input type="text" class="form-control" th:field="*{phone}">
                    <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="text-danger"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Address</label>
                    <input type="text" class="form-control" th:field="*{address}">
                    <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Status</label>
                    <select class="form-select" th:field="*{status}">
                        <option value="Refugee">Refugee</option>
                        <option value="Asylum Seeker">Asylum Seeker</option>
                        <option value="Returner">Returner</option>
                    </select>
                    <div th:if="${#fields.hasErrors('status')}" th:errors="*{status}" class="text-danger"></div>
                </div>

                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</body>
</html>
